@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ad9935;
  --secondary: #e0aaff;
  --accent-1: #e0cefd;
  --accent-2: #3c096c;
  --ls: #c77dff;

  --white-2: #f3eaf9;
  --white-3: #f3eaf9f5;
  --white: #fff;
  --black: #4e4e56;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn mn"
    "ft ft ft ft";
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li {
  height: 250px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: var(--primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.add-box,
.icon,
.bottom-content,
.popup,
header,
.settings .menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon {
  height: 78px;
  width: 78px;
  color: var(--white-2);
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed var(--white-2);
}
.add-box p {
  color: var(--white-2);
  font-weight: 500;
  margin-top: 20px;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details {
  max-height: 165px;
  overflow-y: auto;
  color: var(--white-2);
}

@media (max-width: 660px) {
  .wrapper {
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .popup-box .popup {
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i {
    font-size: 17px;
  }
}
