body {
  border: #ea2020;
  padding: 20px;
  margin: 2px;

  background: linear-gradient(
    128deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  box-sizing: border-box;
}
.container {
  background: #ffffff;
  width: 100vmin;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
button {
  padding: 5px;
  margin: 5px 4px;
}
#textArea {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  height: 50vh;
}

.active {
  background-color: #b3f235;
}
